<div id="optionsSup" class="reveal-modal" data-reveal>
	<h2>Les options supplémentaires</h2>
	<p>Vous pouvez rajouter plusieurs options pour rendre votre voyage encore plus inoubliable !</p>
	<p class="lead">Matériel</p>
	<table>
	  <thead>
	    <tr>
	      <th width="200">Option</th>
	      <th>Description</th>
	      <th width="150">Prix</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Pack Ski/Snow Sport Republic</td>
	      <td>Un pack d'équipement standard (skis/snow, chaussures, bâtons, casque)</td>
	      <td><em>Inclu dans le prix (*)</em></td>
	    </tr>
	    <tr>
	      <td>Pack Ski/Snow Performance Republic</td>
	      <td>Un pack d'équipement de qualité supérieure (skis, chaussures, bâtons, casque)</td>
	      <td>+ 20€</td>
	    </tr>
	    <tr>
	      <td>Ski/Snowboard Sport</td>
	      <td>Si tu as déjà tes chaussures et autres accessoires</td>
	      <td>- 10€</td>
	    </tr>
	    <tr>
	      <td>Ski/Snowboard Performance</td>
	      <td>Si tu as déjà tes chaussures et autres accessoires</td>
	      <td>+ 10€</td>
	    </tr>
	    <tr>
	      <td>J'ai tout mon équipement</td>
	      <td>Tu vas faire des économies !</td>
	      <td>- 60€</td>
	    </tr>
	  </tbody>
	</table>
	<p><em>(*) Tu as le choix entre les skis ou le snowboard.</em></p>

	<p class="lead">Assurances</p>
	<table>
	  <thead>
	    <tr>
	      <th width="200">Option</th>
	      <th>Description</th>
	      <th width="150">Prix</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Assurance vol & casse matériel de ski Ski Republic</td>
	      <td>Souscrite auprès du magasin faisant le prêt de l'équipement.</td>
	      <td>+ 12€</td>
	    </tr>
	    <tr>
	      <td>Assurance neige</td>
	      <td><a href="{{ asset('docs/CG-MondialAssurance.pdf') }}">Télécharger les conditions</a></td>
	      <td>+ 17€</td>
	    </tr>
	    <tr>
	      <td>Assurance voyage <a href="http://www.mondial-assistance.fr">Mondial Assistance</a></td>
	      <td><a href="{{ asset('docs/CG-MondialAssurance.pdf') }}">Télécharger les conditions</a></td>
	      <td>+ 11€</td>
	    </tr>
	    <tr>
	      <td>Assurance tout compris : multirisque montagne <a href="http://www.mondial-assistance.fr">Mondial Assistance</a></td>
	      <td><a href="{{ asset('docs/CG-MondialAssurance.pdf') }}">Télécharger les conditions</a></td>
	      <td>+ 20€</td>
	    </tr>
	  </tbody>
	</table>

	<p class="lead">Compléments</p>
	<table>
	  <thead>
	    <tr>
	      <th width="200">Option</th>
	      <th>Description</th>
	      <th width="150">Prix</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Extension forfait Espace Killy</td>
	      <td>Profites d'un espace skiable de plus de 300 km. Accès illimité à la piscine du Lagon et à la patinoire (patins à glace offerts) en plus. <a href="http://www.espacekilly.com">En savoir plus</a></td>
	      <td>+ 39€</td>
	    </tr>
	    <tr>
	      <td>Pack Nourriture</td>
	      <td><span class="label alert">Attention</span> Ce pack est pour 2 personnes ! <a href="{{ asset('docs/PackNourriture.pdf') }}">Télécharger le détail du pack (PDF)</a>.</td>
	      <td>+ 50€</td>
	    </tr>
	  </tbody>
	</table>
	<a class="close-reveal-modal">&#215;</a>
</div>