{% extends '::base.html.twig' %}

{% block body -%}
{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
	<div class="large-5 large-centered columns">
		<div class="panel">
			<h3>Connexion</h3>

			{% block fos_user_content %}
			{% if error %}
			    <div>{{ error|trans }}</div>
			{% endif %}

			<form action="{{ path("fos_user_security_check") }}" method="post">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<div class="row">
					<div class="large-12 columns">
					    <label for="username">Email</label>
					    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
					    <label for="password">Mot de passe</label>
					    <input type="password" id="password" name="_password" required="required" />
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
					    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					    <label for="remember_me">Se souvenir de moi</label>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
					    <input type="submit" id="_submit" name="_submit" value="Se connecter" class="button tiny text-center" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock fos_user_content %}
{% endblock %}
