{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
	<div class="large-9 large-centered columns">
		<div class="panel">
			<div data-alert class="alert-box success radius">
				Bravo, tu as bien été inscrit au site !
			</div>
			<p>Il reste encore quelques informations à renseigner avant de terminer ton inscription au voyage. Clique sur le lien ci-dessous pour te connecter à ton espace personnel.</p>
			<p class="text-center"><a href="{{ path('r_heaven_ski_homepage') }}" class="button">Continuer mon inscription &gt;</a></p>
		</div>
	</div>
</div>

{% endblock %}
